@import url(reset.css);

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  font-size: 1.6rem;
}

.header {
  background: #4a90e2;
  color: #fff;
  padding: 1.2rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 128rem;;
}

.header .photo-and-name {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.header .photo {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.header .title {
  font-size: 3.2rem;
  font-weight: bold;
}

.header .navigation {
  display: flex;
  align-items: center;
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}

.main {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.contact {
  margin-bottom: 3.2rem;
}

.contact h2 {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.contact-list {
  display: flex;
  gap: 1.6rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact ul li {
  margin-bottom: 1.6rem;
}

.about {
  margin-bottom: 3.2rem;
}

.about h2 {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.about .skills {
  margin-top: 2.4rem;
}

.about .skills h3 {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.about .skills div {
  margin-bottom: 2.4rem;
}

.about .skills-list {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.work-experience {
  margin-bottom: 3.2rem;
}

.work-experience h2 {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.work-experience ul {
  list-style: disc inside;
  margin-left: 1.6rem;
}

.education {
  margin-bottom: 3.2rem;
}

.education h2 {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.education h3 {
  font-size: 2.8rem;
  margin-bottom: 1.4rem;
}

.education h4 {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.projects {
  margin-bottom: 3.2rem;
}

.projects h2 {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.projects h3 a {
  text-decoration: none;
  color: #4a90e2;
}

.projects h3 a:hover {
  text-decoration: underline;
}

.code {
  margin-bottom: 3.2rem;
}

.code h2 {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.code p {
  margin-bottom: 1.6rem;
}

code {
  display: block;
  background: #eee;
  padding: 1.6rem;
  border-radius: 0.8rem;
  overflow-x: auto;
  font-family: monospace;
}

.footer {
  text-align: center;
  margin-top: 3.2rem;
  padding: 1.6rem 0;
  background: #4a90e2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer img {
  width: 4.8rem;
  height: auto;
}
